<ion-footer>
    <div class="login-footer">
        <ion-grid>
            <ion-row>
                <ion-col class="list-icon-footer" size="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-text style="margin-right: 30px;" class="title">GEM FACTORY</ion-text>
                    <ion-img class="icon-footer" src="../../../assets/icon/instagram.png"></ion-img>
                    <ion-img class="icon-footer" src="../../../assets/icon/facebook.png"></ion-img>
                    <ion-img class="icon-footer" src="../../../assets/icon/google-plus.png"></ion-img>
                </ion-col>
                <ion-col class="res-float-right" size="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-text style="margin-right: 15px;" class="font-size-12">이용약관</ion-text>
                    <ion-text style="margin-right: 15px;" class="font-size-12">회사소개</ion-text>
                    <ion-text style="margin-right: 15px;" class="font-size-12">이용요금</ion-text>
                    <ion-text class="font-size-12">고객지원</ion-text>
                </ion-col>
                
            </ion-row>
        </ion-grid>
    </div>
</ion-footer>