.admin-footer{
    background-color: #D1D1D1;

    .font-size-12{
        font-size: 12px;
        font-weight: 400;
    }
    .list-icon-footer{
        display: flex;
        align-items: center;

        .icon-footer{
            width: 25px;
            margin-right: 16px;
        }

        .title{
            color: #000000;
            font-weight: 700;
            font-size: 16px;
        }
    }

}